certifi==2024.7.4
click==8.1.8
click-default-group==1.2.4
distlib==0.3.8
filelock==3.15.4
gunicorn==23.0.0
packaging==25.0
pillow==11.2.1
pipenv==2024.0.1
platformdirs==4.2.2
pluggy==1.5.0
python-dateutil==2.9.0.post0
setuptools==72.1.0
six==1.17.0
sqlite-fts4==1.0.3
sqlite-utils==3.38
tabulate==0.9.0
ttkbootstrap==1.12.1
virtualenv==20.26.3
